  <!-- header -->

<div class=" py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft" style="font-weight: bolder;">Enjoy Our<br>Delicious Meal</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Login
                  </button>
                
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" id="image" src="https://i.postimg.cc/fRKR2L1q/hero.png" alt="">
            </div>
        </div>
    </div>
</div>


<!-- modal -->
<div class="modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.452);">
    <div class="modal-dialog">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-white" id="staticBackdropLabel">Login</h1>
          <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <input type="text" class="form-control mt-3 mb-3" placeholder="Enter Your Phone Number">
          <input type="password" class="form-control" placeholder="Enter Your Password">

          <button type="button" class="btn btn-success mt-3 me-3 ">Login</button>          
                                <!-- register -->
                                <div class="text-end me-4 mb-4">
                                    <h6 class="mt-4" style="color: darkgoldenrod;">Don't have an Account yet ?</h6>
                                    <a href="register" class="text-white" style="text-decoration: none;">Create New Account</a>
                                </div>
                                  </div>
      </div>
    </div>
  </div>
